*.class
.project
.classpath
.gitignore

# Package Files #
*.war
*.ear
/bin
/lib
/html
/doc

# Compile scripts
generate-docs
compile-pvz
compile-test
main
gui
tests

# Misc
build.xml
workbench.xmi
names.txt
ADMIN.ser
